# encoding for Ruby 1.9
snippet it
	it "${1:spec_name}" do
	  ${0}
	end
snippet before
	before(${1::each}) do
	  ${0}
	end
snippet gm
	app.archs = ["x86"] unless ARGV.include?("device") || ARGV.include?("archive")
snippet sop
	save_and_open_page
snippet sos
	save_and_open_screenshot
snippet db
	Rails.logger.debug
